/* to select multpile rows/things: opt+shift+drag OR select+command+D*/

body {
  font-family: sans-serif;
  background: lightgray;
  counter-reset: page;
}

h2 {
  break-before: page;
  /* also try break-before: left/right*/
}

p:first-child {
  margin-top: 0;
}

/*.two-col {
  column-count: 1;
  column-gap: 1em;
}*/

img {
  width: 100%;
}

@media print {
  body {
    background: white;
  }
}

.cover {
  background-color: black;
}
@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.25in;
  bleed: 0.25in;
  marks: crop;
}
@page:left {
  margin-left: 0.15in;
  margin-right: 0.15in;

  /*@bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content:"Indie Sleaze";
  }*/
}
@page:right {
  margin-left: 0.15in;
  margin-right: 0.15in;

  /*@bottom-left {
  content:"Hope Kim";
  }
  @bottom-right {
    content: counter(page);
  }*/
}
